$main-color : #9356DC;
$secondary-color : #FF79DA;
$third-color : #99E2D0;
$background : #f6f6f6;

@mixin cta-button {
    padding: 20px 25px;
    border-radius: 30px;
    font-size: 18px;
    color: white;
    background: linear-gradient($secondary-color, $main-color);
    border-style: none;
    letter-spacing: 1px;
    margin: 30px;
}

@mixin shadow {
    box-shadow: 0px 5px 10px 0px rgba(0,0,0, 0.3);
}

* {
    margin: 0;
    font-family: Roboto, sans-serif;
}

h1, h2 {
    font-size: 30px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 197px;
        height: 36px;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .location {
        background-color: #EAEAEA;
        color: #353535;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
            p, i {
                margin: 15px 10px;
            }
            p {
                font-weight: 600;
                font-size: 18px;
                letter-spacing: 0.5px;
            }
    }
}

.presentation {
    background-color: $background;
    text-align: center;
    padding: 40px 25px;

    h1 {
        font-weight: bold;
        padding: 10px 50px;
    }

    p {
        font-size: 22px;
        font-weight: 300;
        padding: 10px 0;
    }

    button {
        @include cta-button;
        @include shadow;
    }
}

.functioning, .restaurants {
    padding: 60px 20px;
}

.functioning {
    &__card {
        margin: 25px 15px;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        align-items: center;
        background-color: $background;
        border-radius: 20px;
        @include shadow;
        height: 72px;

        &--number{
            position: relative;
            left: -10px;
            background-color: $main-color;
            color: white;
            font-size: 16px;
            font-weight: 300;
            padding: 4px 8px;
            border-radius: 15px;
        }
        
        i {
            color: #353535;
            margin: 0 15px;
        }

        p {
            margin-left: 10px;
        }
    }
}

.restaurants {
    background-color: $background;
    &__card {
        background-color: white;
        border-radius: 20px;
        width: 100%;
        height: 260px;
        position: relative;
        margin: 20px 0;
        
            img{
                height: 180px;
                width: 100%;
                object-fit: cover;
                border-radius: 20px 20px 0 0;
            }

            &--new {
                background-color: $third-color;
                color: #008766;
                font-weight: 500;
                position: absolute;
                top: 15px;
                right: 15px;
                padding: 6px 15px;
                border-radius: 3px;
            }

            &--content {
                margin: 10px 15px;

                h3 {
                    font-size: 20px;
                    font-weight: 700;
                    margin: 5px 0;
                }

                p{ 
                    font-size: 18px;
                    font-weight: 300;
                }
            }

            &--heart {
                position: absolute;
                bottom: 35px;
                right: 30px;
            }
    }
}